<div
  class="w-full h-full flex flex-col justify-center items-center font-light my-shadow"
  [ngClass]="themeMode === 'dark' ? 'bg-veryDarkBlueDM' : 'bg-white'"
>
  <!-- Query container -->
  <div class="w-full h-1/5 flex justify-between items-center px-10 py-4 mt-5">
    <!-- Search Bar -->
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="py-1 px-2 rounded leading-tight focus:outline-none focus:border-gray-500 h-9 text-xs flex justify-start items-center w-1/3 shadow-lg"
    >
      <i
        class="fas fa-search px-2"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      ></i>
      <input
        type="text"
        placeholder="Search for a country..."
        class="px-2 py-1 bg-transparent focus:outline-none"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      />
    </div>

    <!-- Filter Bar -->
    <div
      class="rounded shadow-lg w-32"
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
    >
      <select
        class="py-1 px-2 rounded leading-tight focus:outline-none focus:border-gray-500 bg-transparent h-9 text-xs w-full"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
        placeholder="Filter by region"
      >
        <option
          class="border-none"
          [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
          value=""
          disabled
          selected
        >
          Filter by region
        </option>
        <option
          class="border-none"
          [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
          *ngFor="let region of regions"
          [value]="region"
        >
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <!-- Content -->
  <div class="grid grid-cols-4 gap-12 p-4 w-full h-full px-10">
    <!-- Dummy Card 1 -->
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>

    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>

    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>
    <div
      [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
      class="h-72 rounded flex flex-col justify-between shadow-lg"
    >
      <div class="flex items-center justify-center h-48">
        <!-- Image -->
        <img
          src="https://flagcdn.com/w320/af.png"
          alt="Country Image"
          class="h-full w-full object-cover rounded-t"
        />
      </div>
      <div
        class="h-4/6 px-4 py-3"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <div class="text-bodyHomepage font-bold mt-4 mb-2">Country</div>
        <ul class="text-xs mt-2 font-light">
          <li>Population: <span class="opacity-50">56454646</span></li>
          <li>Region: <span class="opacity-50">Asia</span></li>
          <li>Capital: <span class="opacity-50">Tokyo</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
