<div
  class="w-full h-screen flex flex-col justify-center items-center"
  [ngClass]="themeMode === 'dark' ? 'bg-veryDarkBlueDM' : 'bg-white'"
>
  <!-- Query container -->
  <div class="w-full h-1/5 flex justify-between items-center px-11 py-4">
    <!-- Search Bar -->
    <div class="flex items-center border-b border-gray-300">
      <i
        class="fas fa-search px-2"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      ></i>
      <input
        type="text"
        placeholder="Search for a country..."
        class="px-2 py-1 bg-transparent focus:outline-none"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      />
    </div>

    <!-- Filter Bar -->
    <div [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'">
      <select
        class="border border-gray-300 py-1 px-2 rounded leading-tight focus:outline-none focus:border-gray-500 bg-transparent"
        [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
      >
        <option
          [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
          value=""
          disabled
          selected
        >
          Filter by region
        </option>
        <option
          [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
          *ngFor="let region of regions"
          [value]="region"
        >
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <!-- Content -->
  <div class="h-4/5">
    <h1 [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'">
      {{ title }}
    </h1>
  </div>
</div>
