<div
  [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
  class="py-1 px-2 rounded leading-tight focus:outline-none focus:border-gray-500 h-9 text-xs flex justify-start items-center w-80 shadow-lg"
>
  <i
    class="fas fa-search px-2"
    [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
  ></i>
  <input
    type="text"
    placeholder="Search for a country..."
    class="px-2 py-1 bg-transparent focus:outline-none"
    [ngClass]="themeMode === 'dark' ? 'text-white' : 'text-veryDarkBlueLM'"
  />
</div>
