<div
  [ngClass]="
    themeMode === 'dark'
      ? 'bg-veryDarkBlueDM text-white'
      : 'bg-white text-veryDarkBlueLM'
  "
  class="w-full h-full flex flex-col justify-start items-start min-h-screen px-10 py-9"
>
  <button
    (click)="goBack()"
    [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
    class="my-7 px-4 py-2 rounded shadow-2xl border border-gray-800 flex items-center justify-center w-28 h-9 text-bodyHomepage font-light"
  >
    <i class="fas fa-arrow-left mr-2"></i>
    Back
  </button>

  <!-- Details content -->
  <div class="w-full flex mt-5">
    <!-- image container -->
    <div class="w-1/2 h-96 justify-center items-center">
      <img
        [src]="country.flags"
        alt="{{ country.common_name }} flag"
        class="w-11/12 h-72 shadow-2xl rounded object-center"
      />
    </div>
    <!-- image content container -->
    <div class="w-1/2 px-5 justify-center items-center">
      <h1 class="text-3xl font-bold mb-4">{{ country.common_name }}</h1>
      <!-- content ul columns -->
      <div class="flex justify-between w-full min-h-44">
        <ul class="text-xs mt-2 font-normal">
          <li>
            Native Name:
            <span class="opacity-50">
              {{ country.native_name }}
            </span>
          </li>
          <li>
            Population:
            <span class="opacity-50">
              {{ country.population | number }}
            </span>
          </li>
          <li>
            Region:
            <span class="opacity-50">
              {{ country.region }}
            </span>
          </li>
          <li>
            Subregion:
            <span class="opacity-50">
              {{ country.subregion }}
            </span>
          </li>
          <li>
            Capital:
            <span class="opacity-50">
              {{ country.capital }}
            </span>
          </li>
        </ul>
        <ul class="text-xs mt-2 font-normal">
          <li>
            Top Level Domain:
            <span class="opacity-50">
              {{
                country.top_level_domain && country.top_level_domain.length > 0
                  ? country.top_level_domain.join(", ")
                  : ""
              }}
            </span>
          </li>
          <li>
            Currencies:
            <span class="opacity-50">
              {{ country.currencies.name }} ({{ country.currencies.symbol }})
            </span>
          </li>
          <li>
            Languages:
            <span class="opacity-50">
              {{ country.languages.join(", ") }}
            </span>
          </li>
        </ul>
      </div>
      <div class="flex font-light text-xs">
        <p class="min-w-24">Borders Countries:</p>
        <div
          class="w-full h-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-2"
        >
          <button
            *ngFor="let border of country.borders"
            [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
            class="rounded shadow-2xl border border-gray-800 flex items-center justify-center w-28 h-9"
            (click)="goToDetails(border)"
          >
            {{ border }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
