<div
  [ngClass]="
    themeMode === 'dark'
      ? 'bg-veryDarkBlueDM text-white'
      : 'bg-white text-veryDarkBlueLM'
  "
  class="w-full h-full flex flex-col justify-start items-start min-h-screen px-10 py-9"
>
  <button
    (click)="goBack()"
    [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
    class="my-7 px-4 py-2 rounded shadow-xl flex items-center justify-center w-28 h-9 text-bodyHomepage font-light"
  >
    <i class="fas fa-arrow-left mr-2"></i>
    Back
  </button>
  <div class="w-full flex mt-5">
    <div class="w-1/2 h-96 justify-center items-center">
      <img
        [src]="country.flags"
        alt="{{ country.common_name }} flag"
        class="w-11/12 h-72 shadow-2xl rounded object-center"
      />
    </div>
    <div class="w-1/2 justify-center items-center">
      <h1 class="text-3xl font-bold mb-2">{{ country.common_name }}</h1>
      <div class="grid grid-cols-2 grid-x-9 w-full min-h-32">
        <ul class="text-xs mt-2 font-normal">
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Native Name:</div>
            <span class="opacity-80 ms-2">{{ country.native_name }}</span>
          </li>
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Population:</div>
            <span class="opacity-80 ms-2">{{
              country.population | number
            }}</span>
          </li>
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Region:</div>
            <span class="opacity-80 ms-2">{{ country.region }}</span>
          </li>
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Subregion:</div>
            <span class="opacity-80 ms-2">{{ country.subregion }}</span>
          </li>
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Capital:</div>
            <span class="opacity-80 ms-2">{{ country.capital }}</span>
          </li>
        </ul>
        <ul class="text-xs mt-2 font-normal ps-9">
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Top Level Domain:</div>
            <span class="opacity-80 ms-2">
              {{
                country.top_level_domain && country.top_level_domain.length > 0
                  ? country.top_level_domain.join(", ")
                  : ""
              }}
            </span>
          </li>
          <li class="flex justify-start w-full mb-1.5">
            <div class="font-semiBold min-w-fit">Currencies:</div>
            <span class="opacity-80 ms-2"
              >{{ country.currencies.name }} ({{
                country.currencies.symbol
              }})</span
            >
          </li>
          <li class="flex justify-start min-w-fill">
            <div class="font-semiBold min-w-fit">Languages:</div>
            <span class="opacity-80 ms-2">{{
              country.languages.join(", ")
            }}</span>
          </li>
        </ul>
      </div>
      <div class="flex font-light text-xs justify-center items-center mt-4">
        <p class="min-w-fit me-2">Border Countries:</p>
        <div
          class="w-full h-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 px-5"
        >
          <div class="max-w-24" *ngFor="let border of country.borders">
            <button
              *ngIf="border"
              [ngClass]="themeMode === 'dark' ? 'bg-darkBlue' : 'bg-white'"
              class="rounded shadow-xl flex items-center justify-center  h-9 w-full self-start"
              (click)="goToDetails(border)"
            >
              {{ border }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>